html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
}
#root {
  height: 100%;
}

.my-page-layout {
  margin: 5%;
  padding: 100px;
  background: #2b495d;
  .my-form-layout {
    label {
      font-weight: 600;
      color: #efefef;
    }
    .ant-input-number {
      width: 100%;
    }
  }
  .start-session-button {
    margin-left: 60%;
    width: 40%;
  }
  .scrum-admin-panel {
    margin-top: 50px;
    color: white;
    .voting-pane {
      .poker-card {
        margin: 2%;
        width: 21%;
        min-height: 80px;
      }
    }
    .story-list-table {
      .ant-table-tbody {
        color: white;
      }
    }
  }
}

.sprint-list-item {
  margin: auto;
  width: 100%;
  color: white;
}

.finalize-story-button {
  position: relative;
  width: 100%;
  background: #bae7ff;
  margin-top: 6px;
}

.scrum-master-page {
  margin-top: 50px;
  color: white;
  .voting-pane {
    .poker-card {
      margin: 2%;
      width: 21%;
      min-height: 80px;
    }
  }
}
