html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
}
#root {
  height: 100%;
}

.my-page-layout {
  margin: 5%;
  background: white;
  .my-form-layout {
    color: black;
    label {
      font-weight: 600;
    }
    .ant-input-number {
      width: 100%;
      color: black;
    }
  }
  .ant-input {
    color: black;
  }
  .start-session-button {
    margin-left: 60%;
    width: 40%;
    min-height: 40px;
    font-weight: 600;
  }
  .scrum-admin-panel {
    margin-top: 50px;
    color: black;
    .voting-pane {
      .poker-card {
        color: black;
        margin: 2%;
        width: 21%;
        min-height: 80px;
      }
    }
    .story-list-table {
      .ant-table-tbody {
        color: black;
      }
    }
  }
}

.sprint-list-item {
  margin: auto;
  width: 100%;
  color: black;
}

.finalize-story-button {
  position: relative;
  width: 100%;
  background: #bae7ff;
  margin-top: 6px;
  font-weight: 600;
  min-height: 40px;
}

.scrum-master-page {
  margin-top: 50px;
  color: white;
  .voting-pane {
    .poker-card {
      margin: 2%;
      width: 21%;
      min-height: 80px;
      background: #4e7ade;
      color: white;
    }
  }
}

.ant-layout,
.ant-layout * {
  border-color: black;
}
